*{
    padding: 0%;
    margin: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f5f1ec;
}
nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    background: #FFFFFF;
}

.logo{
   margin: 20px 10px;
   left: 45px;
  font-weight: 500;
  text-shadow: gray;
  font-size: 22px;
  color: #14203E3D;
  line-height: 28.6px;
}

.muno{
display: flex;
 gap: 56px;
}
.muno ul li{
    font-size: 18px;
    display: inline-block;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    position: relative;
}
.btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.LogIn {
    width: 120px;
    top: 20px;
    height: 49px;
font-weight: 400;
font-size: 14px;
border: 0.5px;
border-radius: 10px;
background: #F6F0E8;
cursor: pointer;
}
.StartFreeTrial{
    width: 120px;
    top: 20px;
    height: 49px;
    font-weight: 400;
    font-size: 14px;
    border: 0.5px;
    border-radius: 10px;
    color: #FFFFFF;
    background: #14203E;
    cursor: pointer;
}

.line{
    border: 1px solid #fdf2f2;
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 4rem;

}
.homePageP1{
   text-align: center;
}
.homePageP1 h1{
left: 500px;
margin-bottom:20px ;
line-height: 50px;
font-weight: 700;
font-size: 40px;
color: #14203E;
}

.homePageP1 p{
color: #14203E;
size: 22px;
font-weight: 400;
line-height: 28.6px;
}

.btn2 button{
    width: 172px;
    height: 60px;
    margin-top: 20px;
    border: 0.5px;
    border-radius: 8px;
    background: #14203E;
    cursor: pointer;
}
.btn2 button p{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
}
.homePageP2{
    margin-top:150px;
    padding: 20px;
    background: #FFFFFF;
}
.header {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}
.header h3::before,
.header h3::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%; 
    height: 0.3px;
    background-color: #ccc;
}

.header h3::before {
    left: 15%;
    width: 20%;
    height: 1px;
}

.header h3::after {
    right: 15%;
    width: 20%;
    height: 1px;
}
.homePageP2 h3{
    font-weight: 600;
    line-height: 28px;
    size: 14px;
    color: #14203E;
    text-align: center;
    background: #FFFCF8;
    width: fit-content;
    margin: auto;
}
.col{
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rows h2{
font-size: 18px;
color: #14203E;
font-weight: 700;
width: 290px;
height: 72px;
left: 170px;
}
.rows span{
font-size: 14px;
color: #14203E;
font-weight: 400;
line-height: 18px;
bottom: 0;
}